*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrap{
  width: 100%;

}









.wrap .home{
  display: flex;
  height: 90vh;
  padding-left: 19.27%;
  padding-right: 19.27%;
}

.homeLeft{
  width: 58%;
  height: 100%;
display: flex;
justify-content: center;
flex-direction: column;
text-align: start;
padding-bottom: 28px;
}
.homeLeft h2{
  font-size: 64px;
  color: #031126;
  line-height: 86.4px;
}
.homeLeft p{
  color: #031126;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
}
.homeButton{
  width: 100%;
  padding-top: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.appoinmentBtn{
  width: 191px;
  height: 60px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 17px;
  line-height: 18.7px;
  background-color: #49B3FB;
  color: #fff;

}
.appoinmentBtn:hover{
  cursor: pointer;
  background-color: #fff;
  color: #031126;
  border: none;
  border: solid 1px #49B3FB;
  transition: 0.3s;
  box-shadow: 0px 8px 8px 4px rgba(3, 17, 38, 0.087);
}
.playBtn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #49B3FB;
  border: none;
  color: #fff;
}
.playBtn:hover{
  cursor: pointer;
  background-color: #fff;
  color: #031126;
  border: none;
  border: solid 1px #49B3FB;
  transition: 0.3s;
  box-shadow: 0px 8px 8px 4px rgba(3, 17, 38, 0.087);
}
.homeButton h2{
  font-size: 17px;
  font-weight: 600;
  line-height: 18.7px;
  color: #031126;
  margin-left: -15px;
}




.homeRight{
  width: 44%;
  height: 100%;
  display: flex;
  right: 0;
  top: 0;
  justify-content: flex-end;
  position: absolute;
  overflow: hidden;
  padding-top: 20px;
}
.background{
  right: 0;
  top: 0;
  width: 16.5%;
  height: 108%;
  background-color: #49B3FB;
  position: absolute;
  overflow: hidden;
}
.homeRight img{
  margin-top: 11%;
  width: 829px;
  height: 801px;
  position: absolute;
  border-radius: 36px;
  right: -28px;
}

/* homePopup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContent {
  position: relative;
  width: 90%;
  max-width: 700px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px 10px 0 0;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f44336; /* Red close button */
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.closeBtn:hover {
  background: #0098FF; /* Darker red on hover */
}





/* aboutUs */
.aboutUs{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 53.51vh;
  margin-top: 80px;
  padding-left: 19.27%;
  padding-right: 19.27%;
}
.aboutUsBox{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.aboutUsBoxLeft{
width: 50%;
height: 100%;
}
.aboutUsBoxLeft img{
  height: 100%;
  border-radius: 28px;
}
.aboutUsBoxRight{
  width: 50%;
  height: 100%;
  padding-top: 24px;
}
.aboutUsBoxRight .aboutUsText{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  width: 100%;
  height: 52.5%;
}
.aboutUsText h2{
  font-size: 17px;
  font-weight: 400;
  line-height: 18.7px;
  color: #1AA1FD;
}
.aboutUsText h3{
  font-size: 56px;
  font-weight: 600;
  line-height: 75.6px;
  color: #031126;
  margin-top: 5px;
}
.aboutUsText p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #031126B2;
}
.aboutUsInfo{
  width: 100%;
  height: 48.5%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 44px;
  padding-bottom: 32px;
  gap: 24px;
}
.aboutUsInfoTop button{
  width: 74px;
  height: 74px;
  border: none;
  border-radius: 12px;
  background-color: #49B3FB;
}
.aboutUsInfoTop button:hover{
  cursor: pointer;
  background-color: #fff;
  color: #031126;
  border: none;
  border: solid 1px #49B3FB;
  transform: 0.3s; transition: 0.3s;
  box-shadow: 0px 8px 8px 4px rgba(3, 17, 38, 0.087);
}
.aboutUsInfoBottom button {
  position: relative;
  width: 74px;
  height: 74px;
  border: none; /* Задає ширину без стандартної рамки */
  border-radius: 12px;
  background-color: #fff;
  z-index: 1;
  overflow: hidden; /* Щоб псевдоелемент не виходив за межі */
  transform: 0.3s; transition: 0.3s;
  cursor: pointer;
}

.aboutUsInfoBottom button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  padding: 2px; 
  background: linear-gradient(to bottom, #49B3FB, rgba(0, 0, 0, 0));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.aboutUsInfoBottom button:hover {
  background-color: #e0f3ff; /* Зміна кольору фону при наведенні */
  transform: scale(1.05); /* Легке збільшення кнопки при наведенні */
  
}
.aboutUsInfoTop{
  width: 100%;
  display: flex;
  gap: 42px;
}
.aboutUsInfoBottom{
  display: flex;
  gap: 42px;
}
.aboutUsInfoText h2{
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
}
.aboutUsInfoText p{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #031126B2;
}




/* Services */
.services{
  width: 100%;
  height: 89vh;
  padding-left: 19.27%;
  padding-right: 19.27%;
}
.servicesTop{
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  gap: 10px;
}
.servicesTop h2{
  font-size: 56px;
  font-weight: 600;
  line-height: 75.6px;
  color: #031126;
}
.servicesTop p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #031126BF;
}
.servicesBottom{
  width: 100%;
  height: 62%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* Professionals */



.professionals{
  width: 100%;
  height: 98vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 19.27%;
  padding-right: 19.27%;
}
.professionalsTop{
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.professionalsTop h2{
  font-size: 56px;
  font-weight: 600;
  line-height: 75.6px;
  color: #031126;
}
.professionalsTop h3{
  font-size: 17px;
  font-weight: 400;
  line-height: 18.7px;
  color: #1AA1FD;
}
.professionalsTop p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #031126BF;
}
.professionalsBottom{
  width: 100%;
  height: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}






/* informationAboutUs */



.informationAboutUs {
  width: 100%;
  height: 27.77vh;
  background-color: #c9e9ff60;
  padding-left: 19.27%;
  padding-right: 19.27%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.informationAboutUsBox {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 15px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 1.5s ease, opacity 1.5s ease;
  z-index: 9999;
}

.informationAboutUsBoxTop h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 84px;
  color: #031126;
  transition: transform 1.3s ease, opacity 1.3s ease;
}

.informationAboutUsBoxBottom p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #031126BF;
  transition: color 1.3s ease;
}

.informationAboutUsBox:hover {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.informationAboutUsBox.appear {
  animation: fadeInUp 1.7s ease forwards;
}

.informationAboutUsBox.appear {
  animation: fadeInUp 1.7s ease forwards;
  transform: translateY(0);
  opacity: 1;
  align-self: center;
}




/* easySteps */


.easySteps{
  width: 100%;
  height: 78vh;
  padding-left: 19.27%;
  padding-right: 19.27%;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.eastStepsLeft{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.easyStepsLeftTop{
  width: 100%;
  height: 30%;
  gap: 18px;
  display: flex;
  flex-direction: column;
}
.easyStepsLeftTop h2{
 font-size: 56px;
 line-height: 72.8px;
 font-weight: 600;
 color: #031126;
}
.easyStepsLeftTop p{
font-size: 17px;
font-weight: 400;
line-height: 30px;
color: #031126A6;
}
.easyStepsLeftBottom{
  width: 100%;
  height: 70%;
  display: flex;
  padding-top: 50px;
  gap: 15px;
}
.easyStepsLeftBottomLeft{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.easyStepsLeftBottomLeft h2{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: dashed  1px #0098FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.easyStepsLeftBottomRight{
  width: 90%;
  padding-right: 118px;
}
.easyStepsLeftBottom h2{
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #031126BF;
}
.easyStepsLeftBottomLeft p{
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #031126A6;
}
.easyStepsRight{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 78px;
  
}
.easyStepsRight img{
  width: 570px;
  height: 578px;
  border-radius: 28px;
}






/* appointment */




.appointment{
  width: 100%;
  height: 100vh;
  padding-left: 19.27%;
  padding-right: 19.27%;
  display: flex;
  align-items: center;
  background-color: #C9E9FF26;
  flex-direction: column;
}
.appointmentTop{
  width: 90%;
  height: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.appointmentTop h2{
  font-size: 56px;
  font-weight: 600;
  line-height: 72.8px;
  color: #031126;
}
.appointmentTop p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #031126BF;
}

/* reviews */




.reviews{
  width: 100%;
  height: 174vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 19.27%;
  padding-right: 19.27%;
  padding-bottom: 2%;
}
.reviewsTop{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
  flex-direction: column;
  text-align: center;
}
.reviewsTop h2{
  font-size: 56px;
  font-weight: 600;
  line-height: 72.8px;
  color: #031126;
}
.reviewsTop p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #031126BF;
}
.reviewsCenter{
  width: 100%;
  height: 55%;
  display: flex;
  padding-top: 48px;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.reviewsButton{
  width: 100%;
  height: 25%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0098FF;
  border-radius: 50px;
}
.reviewsButton h2{
font-size: 35px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}
.reviewsButton p{
font-size: 18px;
font-weight: 400;
line-height: 30.6px;
text-align: center;
color: #FFFFFF;
}



/* Copyright */
.Copyright{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Copyright p{
font-size: 17px;
font-weight: 400;
line-height: 17px;
text-align: center;
color: #03112699;
}